<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/register.css">
    </head>


    <body>
        <%- include("../partials/header.ejs")%>
            <main>
                <div class="register-box">
                    <form class="register-form" action="/products/store" method="POST">
                        <div class="form-section">
                            <p class="main-header">Registro de Helper</p>
                        </div>
                        <div class="form-section">
                            <p class="section-header">Datos de Direcci칩n</p>
                            <input type="text" name="calle" placeholder="Calle" class="enter-credentials" required>
                            <input type="text" name="numero" placeholder="Numero" class="enter-credentials" required>
                            <input type="text" name="barrio" placeholder="Barrio" class="enter-credentials" required>
                            <input type="text" name="provincia" placeholder="Provincia" class="enter-credentials"
                                required>
                            <input type="text" name="codigo Postal" placeholder="C칩digo Postal"
                                class="enter-credentials" required>
                        </div>
                        <div class = "form-section">
                            <p class="section-header">Datos de Oficio</p>
                            <input type="text" name="oficio" placeholder="Oficio" class="enter-credentials" required>
                            <input type="text" name="a침os-de-Experiencia" placeholder="A침os de Experiencia" class="enter-credentials" required>
                            <input type="text" name="tarifa" placeholder="Tarifa por Hora (en $)" class="enter-credentials" required>
                            <textarea name="descripcion" placeholder = "Descripcion de Oficios Disponibles" cols="30" rows="10" class = "description"></textarea>
                        </div>
                        <div class="button-section">
                            <button type="reset" class="reset-button">Reestablecer</button>
                            <button type="submit" class="submit-button">Registrarse</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include("../partials/footer.ejs")%>
    </body>

</html>