<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <!-- head abierto en include -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles-check-out.css">
    </head>

    <body class="bgGray">
       
            <section class="seccion-trabajos-catalogo">
                <h3 class="section-header">Catálogo de Oficios</h3>
                <section class="sub-seccion-trabajos-catalogo center">
    
                   
                
                    <div class="tenor-gif-embed" data-postid="6182978" data-share-method="host" data-aspect-ratio="1.285"
                        data-width="40%">
                        <a href="https://tenor.com/view/oops-i-did-it-again-britney-spears-queen-of-pop-gif-6182978">Oops I
                            Did It Again
                            Britney Spears GIF</a>from <a href="https://tenor.com/search/oops+i+did+it+again-gifs">Oops I
                            Did It Again
                            GIFs</a>
                    </div>
                    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                </section>


          
    </body>

</html>

