<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELPERS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles-check-out.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css' rel='stylesheet'>



</head>

<body class="bgGray">

    <header class="white blueLetter">
        <img class="logo" src="images/logo4.png" width="15%" alt="Logo-Helpers">

        <div> <i class="user fas fa-user-circle"></i>
            <a class="blueLetter" href="">Mi perfil</a>
        </div>


    </header>



    <main>
        <section class="details">


            <article class="professional white">
                <img class="professionalPicture blueLetter" src="/images/foto-perfil.png" alt="Foto perfil">
                <p>Precio: $150</p>
                <p>Profesional: Laura Pérez</p>
                <p>Calificacion</p>
                <p>Descripción Persona: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquid rem
                    cumque ipsa, sint quo dolor, officia aliquam obcaecati corrupti dolores provident neque ullam
                    laborum quis esse porro nisi? Sequi!</p>

                <p class="contact  white">Datos de contacto</p>
                <i class="blueLetter fab fa-whatsapp"></i> 112345678
                <i class="blueLetter fas fa-envelope"></i> email@email.com

            </article>

            <article class="checkOut white">
                <p class="center underlined">Resumen de Compra</p>
                <p>Servicio:</p>
                <p>Fecha:</p>
                <p>Subtotal:</p>
                <p>Adicional:</p>
                <p class="total">Total</p>


            </article>



        </section>

        <section class="formato">
            <form class="formatForm" action="" method="get">
                <div class="warranty blueGreen whiteLetter">
                    <label>¿Desea agregar un Seguro?</label>
                    <p> En caso de no presentarse o no estar satisfecho con el servicio, un nuevo Helper irá en su
                        reemplazo
                    </p>

                    <input type="radio" name="warranty" id="Sí" value="Sí" required>
                    <label for="Sí">Sí</label>
                    <input type="radio" name="warranty" id="No" value="No">
                    <label for="No">No</label>
                </div>

                <div class="payMethod white">

                    <label>Método de Pago</label>


                    <label for="mercadoPago">Mercado Pago</label>
                    <img src="/images/MP.png" alt="Mercado Pago">
                    <input type="radio" name="medioDePago" id="mercadoPago" value="mercado pago" required>


                    <label for="transferencia">Transferencia Bancaria</label>
                    <i class="blueLetter fi fi-rr-bank"></i>
                    <input type="radio" name="medioDePago" id="transferencia" value="transferencia" required>


                    <label for="efectivo">Efectivo</label>
                    <i class="blueLetter fi fi-rr-money"></i>
                    <input type="radio" name="medioDePago" id="efectivo" value="efectivo" required>

                </div>
                <div class="comment whiteLetter">
                    <label for=" comment">Comentarios Adicionales</label>
                    <textarea class="grayLetter" name="comment" id="comement"
                        placeholder="Agregue su comentario"></textarea>

                </div>

                <button class="buttonStyle whiteLetter center" type="submit">Confirmar Selección </button>

            </form>
        </section>


    </main>


    <footer class="blue">

        <div class="dataFooter">
            <h4>NOSOTROS</h4>
            <a href="">¿Quiénes somos?</a>
            <a href="">Ayuda</a>
            <a href=""> Términos y condiciones</a>

        </div>


        <div class="dataFooter">
            <h4>PRESTADORES</h4>
            <a href="">Ayuda</a>
        </div>

        <div class="dataFooter">
            <h4>EMPLEADORES</h4>
            <a href="">Ayuda</a>
        </div>



        <div class="dataFooter">
            <h4>Contáctanos<h4>

                    <a href=""></a><i class="fab fa-twitter"></i>
                    <a href=""></a> <i class="fab fa-instagram"></i>

        </div>

        <div class="dataFooter">
            <h4>Descargá la APP</h4>
            <a href=""></a><i class="fab fa-android"></i>
        </div>

    </footer>
    <p class="center grayLetter">Copyright © 2022 Helpers S.R.L. </p>
</body>

</html>