<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/index.css">
    <title>Inicio</title>
</head>
<body>
    <header class="white blueLetter">
        <a href="/"><img class="logo" src="images/logo4.png" width="15%" alt="Logo-Helpers"></a>
    </header>
    <!-- <header>
        <img src="./images/logo4.png" alt="" width=30%>
        <a class="login" href="/login">Ingresar</a>
        <a class="register" href="/register">Registrarse</a>
    </header> -->
    <section class="search">
        <div class="search-field">
            <input type="text" id="searchterm" placeholder="¿Qué está buscando?" />
            <button type="button" id="search">Buscar!</button>
        </div>
    </section>
    <section class = "seccion-trabajos-requeridos">
            <h3 class = "section-header">Helpers más Requeridos</h3>
            <section class="sub-seccion-trabajos-requeridos">
                <div class="articulo-trabajo-mas-buscado">
                    <p class="nombre-helper" >Carlos H.</p>
                    <img class= "imagen-trabajo" src="/images/bordeadora.jpg" alt="">
                    <p>Jardinería</p>
                    <p>$400 /h</p>
                    <div class = "interacciones">
                        <i class="fas fa-heart icon-helper"></i>
                        <i class="fas fa-share-alt icon-helper"></i>
                        <i class="fas fa-shopping-cart icon-helper"></i>
                    </div>
                </div>
                <div class="articulo-trabajo-mas-buscado">
                    <p class="nombre-helper" >Fabian B.</p>
                    <img class= "imagen-trabajo" src="/images/limpiavidrios.jpg" alt="">
                    <p>Limpieza de vidrios</p>
                    <p>$500 /h</p>
                    <div class = "interacciones">
                        <i class="fas fa-heart icon-helper"></i>
                        <i class="fas fa-share-alt icon-helper"></i>
                        <i class="fas fa-shopping-cart icon-helper"></i>
                    </div>
                </div>
                <div class="articulo-trabajo-mas-buscado">
                    <p class="nombre-helper" >Carolina S.</p>
                    <img class= "imagen-trabajo" src="/images/techo.jpg" alt="">
                    <p>Reparación de techos</p>
                    <p>$450 /h</p>
                    <div class = "interacciones">
                        <i class="fas fa-heart icon-helper"></i>
                        <i class="fas fa-share-alt icon-helper"></i>
                        <i class="fas fa-shopping-cart icon-helper"></i>
                    </div>                    
                </div>
                <div class="articulo-trabajo-mas-buscado">
                    <p class="nombre-helper" >Mario B.</p>
                    <img class= "imagen-trabajo" src="/images/cañeria.jpg" alt="">
                    <p>Reparación de cañerías</p>
                    <p>$600 /h</p>
                    <div class = "interacciones">
                        <i class="fas fa-heart icon-helper"></i>
                        <i class="fas fa-share-alt icon-helper"></i>
                        <i class="fas fa-shopping-cart icon-helper"></i>
                    </div>
                </div>
            </section>
        </section>
        <section class = "seccion-trabajos-catalogo">
            <h3 class = "section-header">Catálogo de Oficios</h3>
            <section class="sub-seccion-trabajos-catalogo">
                <div  class="articulo-trabajo-mas-buscado">
                    <img class= "imagen-trabajo" src="/images/electricista.jpg" alt="">
                    <p>Electricista</p>
                </div>
                <div class="articulo-trabajo-mas-buscado">
                    <img class="imagen-trabajo" src="/images/Limpieza-del-hogar.png" alt="">
                    <p>Limpieza del Hogar</p>
                </div>
                <div class="articulo-trabajo-mas-buscado">
                    <img class="imagen-trabajo" src="/images/Pintor.jpg" alt="">
                    <p>Pintor</p>
                </div>
                <div class="articulo-trabajo-mas-buscado">
                    <img class="imagen-trabajo" src="/images/Albañilería.PNG" alt="">
                    <p>Albañilería</p>
                </div>
            </section>
            <p class="mas-oficios">Más oficios</p>
        </section>
    <section id="porque_elegirnos">
            <div>
                <P>¿Por qué elegirnos?</P>
                <p>justificación de por qué elegir helper. </p>
                <p>Debe dar las razones de por qué utilizar </p>
                <p>la plataforma en lugar de contrar a alguien</p>
                <p>por otras vías</p>
            </div>
      
    </section>
    <section>
        
    </section>
<footer class="blue">

    <div class="dataFooter">
        <h4>NOSOTROS</h4>
        <a href="">¿Quiénes somos?</a>
        <a href="">Ayuda</a>
        <a href=""> Términos y condiciones</a>

    </div>


    <div class="dataFooter">
        <h4>PRESTADORES</h4>
        <a href="">Ayuda</a>
    </div>

    <div class="dataFooter">
        <h4>EMPLEADORES</h4>
        <a href="">Ayuda</a>
    </div>



    <div class="dataFooter">
        <h4>Contáctanos<h4>

                <a href=""></a><i class="fab fa-twitter"></i>
                <a href=""></a> <i class="fab fa-instagram"></i>

    </div>

    <div class="dataFooter">
        <h4>Descargá la APP</h4>
        <a href=""></a><i class="fab fa-android"></i>
    </div>

</footer>
<p class="center whiteLetter">Copyright © 2022 Helpers S.R.L. </p>
</body>
</html>