<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/index.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <img src="./images/logo4.png" alt="" width=40%>

            <a class="login" href="/login">Ingresar</a>
            <a class="register" href="/register">Registrarse</a>
    </header>
    <section class="search">
        <div class="search-field">
            <input type="text" id="searchterm" placeholder="¿Qué está buscando?" />
            <button type="button" id="search">Buscar!</button>
        </div>
    </section>
    <section id="most_requested_jobs">
            <div><img src="./images/icono_trabajo.PNG" alt="" width=20%>
            <p>Trabajo</p>
            </div>
            <div><img src="./images/icono_trabajo.PNG" alt="" width=20%>
                <p>Trabajo</p>
            </div>
            <div><img src="./images/icono_trabajo.PNG" alt="" width=20%>
                <p>Trabajo</p>
            </div>
            <div><img src="./images/icono_trabajo.PNG" alt="" width=20%>
                <p>Trabajo</p>
            </div>
    </section>
    <section>
            <div id="oficios">
                <div><img src="./images/icono_trabajo.PNG" alt="" width=45%>
                <p>Descripción del oficio</p>
                </div>
                <div><img src="./images/icono_trabajo.PNG" alt="" width=45%>
                <p>Descripción del oficio</p>
                </div>
                <div><img src="./images/icono_trabajo.PNG" alt="" width=45%>
                <p>Descripción del oficio</p>
                </div>
            </div>
            <p class="mas-oficios">Más oficios</p>
    </section>

    <section id="porque_elegirnos">
            <div>
                <p>justificación de por qué elegir helper. </p>
                <p>Debe dar las razones de por qué utilizar </p>
                <p>la plataforma en lugar de contrar a alguien</p>
                <p>por otras vías</p>
            </div>
            
            <div><img src="./images/icono_trabajo.PNG" alt="" width=45%></div>
    </section>
    <section>
        
    </section>
    <footer>

    </footer>
</body>
</html>