<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    </header>
    <main>
        <!-- <img src="./images/herramientas.jpg" style= "float:center" alt="" width=100%> -->
        <div class = "login-box">
            <i class="fas fa-paint-brush"></i>
            <p class = "login-logo">HANDYMAN</p>
            <h2>Usuario</h2>
            <h2>Contraseña</h2>
            <p>Recordar mi usuario</p>
            <h3>Ingresar</h3>
            <p>¿Olvidó su contraseña?</p>
            <p>¿Aún no eres usuario?</p>
            <h3>Registrate</h3>
        </div>
    </main>
    <footer class = "footer">
    </footer>
</body>
</html>