<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="white blueLetter">
        <img class="logo" src="images/logo4.png" width="15%" alt="Logo-Helpers">   
    </header>
    <main>
        <div class = "login-box">
            <form class = "login-form" action="/login">
                <input type="text" name = "usuario" placeholder="Usuario" class="enter-credentials" required>
                <input type="password" name="contraseña" placeholder="Contraseña" class="enter-credentials" required>
                <input type="checkbox" class="checkbox-password" name="remember-password">
                <label for="remember-password" class="remember-password">Recordar mi usuario</label>
                <button type="submit">Ingresar</button>
            </form>
            <a href="" class="login-text">¿Olvidó su contraseña/usuario?</a>
            <p>¿Aún no eres usuario?</p>
            <button type="button">Registrate</button>
        </div>
    </main>
    <footer class="blue">
    
        <div class="dataFooter">
            <h4>NOSOTROS</h4>
            <a href="">¿Quiénes somos?</a>
            <a href="">Ayuda</a>
            <a href=""> Términos y condiciones</a>
    
        </div>
    
    
        <div class="dataFooter">
            <h4>PRESTADORES</h4>
            <a href="">Ayuda</a>
        </div>
    
        <div class="dataFooter">
            <h4>EMPLEADORES</h4>
            <a href="">Ayuda</a>
        </div>
    
    
    
        <div class="dataFooter">
            <h4>Contáctanos<h4>
    
                    <a href=""></a><i class="fab fa-twitter"></i>
                    <a href=""></a> <i class="fab fa-instagram"></i>
    
        </div>
    
        <div class="dataFooter">
            <h4>Descargá la APP</h4>
            <a href=""></a><i class="fab fa-android"></i>
        </div>
    
    </footer>
    <p class="center whiteLetter fixed-bottom">Copyright © 2022 Helpers S.R.L. </p>
</body>
</html>