* {
  font-family: roboto;
  margin:0;
  box-sizing:border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  /* conserva la forma de los elementos */
  flex-direction: row;
  justify-content: left;
  align-items:center;
  margin-bottom: 0px;
  padding: 20px;
}

.login-section{
  display:flex;
  width:85;
  justify-content:right;
  align-items:center;
  margin-left:auto;
}

.field {
  display: flex;
  margin: 5em auto;
  width: 40%;
  flex-direction: row;
  box-shadow: 1px 1px 0 #1f7a8cff, 2px 2px 0 #1f7a8cff, 3px 3px 0 #1f7a8cff,
    4px 4px 0 #1f7a8cff, 5px 5px 0 #1f7a8cff, 6px 6px 0 #1f7a8cff,
    7px 7px 0 #1f7a8cff;
}
.search-field {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #183153ff;

}
.field > input[type="text"],
.field > button {
  display: block;
  font: 1.2em "Montserrat Alternates";
}

.field > input[type="text"] {
  flex: 1;
  padding: 0.6em;
  border: 0.2em solid #1f7a8cff;
}

.field > button {
  padding: 0.6em 0.8em;
  background-color: #1f7a8cff;
  color: white;
  border: none;
}
body {
  background-image: linear-gradient(to right, #183153ff 0%, #1f7a8cff 100%);
}
.login {
  border-radius: 5px;
  padding-top: 8px;
  text-decoration: none;
  width: 100px;
  height: 35px;
  background-color: #1f7a8cff;
  color: #000;
  text-align:center;
  color:white;
  font-weight:bolder;
  margin-right:10px;
} 

.register {
  border-radius: 5px;
  padding-top: 8px;
  text-decoration: none;
  width: 100px;
  height: 35px;
  background-color: white;
  color: #000;
  text-align:center;
  border: solid 1px #183153;
  /* font-weight:bolder */
} 

.register:hover {
  color:white;
  background-color:#183153;
  border:none;
}

.section-header {
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  color:white;
  text-align:center;
  margin-top:0px;
  margin-bottom:10px;
  font-size:18px;
}

.imagen-trabajo {
  border-radius:5px;
  height:200px;
  margin-top:20px;
}

.articulo-trabajo-mas-buscado{
  width: 300px;
  margin-bottom:35px;
}

.articulo-trabajo-mas-buscado p {
  margin-top:10px;
  font-size:16px;
  position:relative;
}

.interacciones {
  display:flex;
  justify-content: center;
}

.icon-helper{
  color:white;
  padding:10px;
}

.nombre-helper {
  font-size:20px;
  font-weight: bolder;
  width:120px;
  /* border:none; */
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  border-radius:5px;
  background-color:white;
  color:#183153ff;
  border: solid 2px #183153ff;
}


.seccion-trabajos-requeridos{
background-image: linear-gradient(to bottom, #183153ff 0%, #1f7a8cff 100%);  padding-bottom:40px;
  padding-top:30px;
}

.seccion-trabajos-catalogo{
  background-color:white;
  padding-bottom:40px;
  padding-top:30px;
}

.sub-seccion-trabajos-requeridos {
  display: flex;
  padding: 20px;
  color: white;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

.seccion-trabajos-catalogo .section-header {
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  color: #183153ff;
  text-align:center;
  font-size:18px;
}

.sub-seccion-trabajos-catalogo {
  display: flex;
  padding: 20px;
  color: #183153ff;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}





#oficios {
  display: flex;
  padding: 40px;
  color: white;
  text-align: center;
}
#porque_elegirnos {
  display: flex;
  justify-content: center;
  padding: 25px;
  color: white;
  text-align: center;
}
.search{
  background-color: #183153ff;
  padding: 40px;
}
#searchterm{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  border:none;
  height:40px;
}

.mas-oficios{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  background-color: #183153ff;
  padding-top: 5px;
  color:white;

}

.dataFooter {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 150px;
  height: 45px;
}

.white {
  background-color: #ffffff;
}

.blueLetter {
  color: #183153;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  color: #f0f8ff;
}

@media (min-width: 480px) {
  .imagen-trabajo {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .imagen-trabajo {
    height: 250px;
  }

  .articulo-trabajo-mas-buscado{
    width: 300px;
    margin-bottom:35px;
  }
  .nombre-helper{
    position:absolute;
    bottom:-260px;
  }
}

