.header {
    background-color: white;
    padding:5px;
    border-bottom: solid 5px #1f3c88
}

body {
  background-image: linear-gradient(to right, #1f3c88, #3379c6);
}

.login-box {
    font-family: roboto;
    border-radius:5px;
    border: solid 1px black;
    width:15%;
    float:center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    margin-top:10%;
    box-shadow: 5px 5px 10px 0px rgb(137, 134, 211);
    background-color:white
}

.login-box i {
    color:black;
    font-size:18px;
    display:inline;
}


.login-box h1{
    font-family: roboto;
    font-size: 16px;
    color: black;
}

.login-box h2 {
    color: lightgrey;
    background-color: white;
    font-size: 12px;
    font-family: roboto;
    border: solid 1px black;
    border-radius:3px;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
    padding:5px;
}

.login-box h3{
    font-family: roboto;
    font-size: 12px;
    color: white;
    border-radius:3px;
    background-color: #1f3c88;
    width: 40%;
    padding:5px;
    margin-left: auto;
    margin-right: auto;

}

.login-box p{
    font-family: roboto;
    font-size: 10px;
    color: black;
    padding: 3px;
}

.login-box a{
    font-family: roboto;
    font-size: 10px;
    color: black;
    padding: 3px;
}
.footer {
    background-color: #81adde;
}