
.header_ppal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 100%;
	padding: 0 10px;
}

.header__izq {
	justify-self: flex-start !important;
}

.header__der {
	justify-self: flex-end !important;

}

.header__img_wrapper {
	display: flex;
	flex-direction: row;
}

.img_logo {
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;	
}

.input_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.input_wrapper > input {
	height: 50px;
	width: 50%;
	border-radius: 10px;
	text-align: center;
}

.header_secondary {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	width: 100%;
	padding: 0 10px;
}

.header_secondary > div {
	margin: 0;
}

.main_container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main_container > div {
	height: 60%;
}

.main_container__filters {
	width: 20%;
	margin: 0 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	border-radius: 20px;
	min-height: 400px;
	background-color:white
}
.main_container__cards {
	width: 50% !important;
	margin: 0 1%;
}
.main_container__opinions {
	width: 20%;
	margin: 0 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 100%;
	padding-top: 20px;
	margin-bottom:20px;
}

.img_card {
	height: 140px;
	border-radius: 50%;
	margin-left:20px;
}

.card__img_wrapper {
	display: flex;
	width: 20%;
}

.card__body {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.card__body__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
}

.button_wrapper > button {
	width: 40%;
}

.main_container__filters > div {
	margin-top: 10px;
}
