.no-decoration {
	text-decoration:none;
}

.helper-register{
	line-height:1
}
.d-flex, .flex-row{
	justify-content: center;
	margin: auto;
}

h4 {
	text-decoration:none;
}

.hr-border {
	opacity:0;
	border:none;
	background-color:none;
}

.header_ppal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 100%;
	padding: 0 10px;
}

.header__izq {
	justify-self: flex-start !important;
}

.header__der {
	justify-self: flex-end !important;

}

.header__img_wrapper {
	display: flex;
	flex-direction: row;
}

.img_logo {
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;	
}

.input_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.input_wrapper > input {
	height: 50px;
	width: 50%;
	border-radius: 10px;
	text-align: center;
}

.header_secondary {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	width: 100%;
	padding: 0 10px;
}

.header_secondary > div {
	margin: 0;
}

.main_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top:30px;
}

.main_container > div {
	height: 60%;
}

.main_container__filters {
	/* width: 20%; */
	margin: 0 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	border-radius: 20px;
	min-height: 400px;
	background-color:white
}
.main_container__cards {
	width: 70% !important;
	margin: 0 1%;
}
.main_container__opinions {
	width: 20%;
	margin: 0 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card, .row{
	
	width: 100%;
	padding: 20px;
	margin-bottom:20px;
	border-radius: 50%;
	position: relative;
	min-width: 0;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	align-items: center;
	
	
}

.img_card {
	height: 140px;
	border-radius: 5%;
	margin-left: 20px;
	margin-right: 30px;
}

.card__img_wrapper {
	display: flex;
	width: 20%;
	justify-content: center;
	margin: auto ;
}

.card__body {
	display: flex;
	flex-direction: column;
	margin: auto 0;
	align-items: center;

}

.card__body__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
	text-decoration:none;
}

.button_wrapper > button {
	width: 40%;
}

.no-border {
	border:none;
	padding:10px;
}
.main_container__filters > div {
	margin-top: 10px;
}

.icon-trash {
	border:none;
	color: rgb(131, 7, 7);
	background-color:none;
	
}

.centerWrap {
flex: 0 0 auto;
width: 66.66666667%;
}




@media (min-width:900px) {
.card {
height: 200px;

}
.d-flex,
.flex-row,
.centerWrap {
	max-width:1000px;
}

.centerWrap {
	
	width: 66.66666667%;

}

}