main {
    margin-bottom:30px;
}

.description {
    border:none;
    width:100%;

    border-radius:3px;
    font-size: 12px;
    padding:10px;
    padding-left:10px;
}

.register-box .main-header {
    font-size:18px;
    text-align:center;
}

.register-box {
    font-family: roboto;
    border-radius:10px;
    width:300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    margin-top:50px;
    background-color:#f0f1f3ff;
}


.form-section{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    
}

.register-box .error-message{
    color: red;
    text-align: center;
    padding-top: 0px;
    margin-top: 1px;
    font-weight: normal;
    font-size: 12px
}

.register-box .error-message-front {
    color: red;
    text-align: center;
    padding-top: 0px;
    margin-top: 1px;
    font-weight: normal;
    font-size: 12px
}

.enter-credentials {
    color: black;
    background-color: white;
    font-size: 12px;
    border: solid 1px darkgray;
    border-radius:3px;
    width: 230px;
    padding:5px;
    text-align: center;
    margin-bottom: 5px;
    /* margin-left:auto;
    margin-right:auto; */
    margin:5px;
}

.reset-button {
    font-size: 12px;
    color: black;
    border-radius:3px;
    background-color: lightgray;
    width: 150px;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:15px;   
    border:solid 1px lightgray;
}

.submit-button {
    font-size: 12px;
    color: white;
    border-radius:3px;
    background-color: #0d2c54;
    width: 150px;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:15px;   
    border:1px;

}

.register-box p{
    font-size: 14px;
    color: black;
    padding: 3px;
    margin-top:20px;
    text-align: center;
    margin-left:2px;
    font-weight: bold;
}

input:focus{
    outline: none;
    border: #1f7a8cff 2px solid;
}

textarea:focus {
    outline: none;
    border: #1f7a8cff 2px solid;
}


.register-text {
    font-size: 14px;
    color: black;
    padding: 10px;
    border-bottom:solid lightgray 1px;
}


.button-section {
    width: 100%;
    display:inline-block;
}



/* tablet */

@media (min-width: 480px) {
    .register-box{
        width:50%;
    }
}

/* laptop */
@media (min-width: 768px) {

    .enter-credentials{
        width:48%;
    }
    
    .form-section {
        display: flex;
        justify-content: space-between;
    }

    .register-box p {
        width:100%;
        text-align:left;
    }

    .button-section {
        display:flex;
        flex-wrap: wrap;
        width: 100%;
    }
           
   
}
 