* {
    font-family: roboto;
    margin:0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #183153ff 0%, #1f7a8cff 100%);
    display:block;
}

header {
    /* display: flex; */
    flex-wrap: wrap;
    /* conserva la forma de los elementos */
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

main {
    margin-bottom:30px;
}


.register-box {
    font-family: roboto;
    border-radius:5px;
    width:300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    margin-top:50px;
    background-color:#f0f1f3ff;
}

/* .section-header{
        display:block;
        width:100%;
        justify-content: space-between;
        align-items: center;
} */

.form-section{
    /* display:flex; */
    flex-wrap:wrap;
    width:100%;
}

.enter-credentials {
    color: black;
    background-color: white;
    font-size: 12px;
    border: solid 1px #f0f1f3ff;
    border-radius:3px;
    width: 230px;
    padding:5px;
    text-align: center;
    margin-bottom: 5px;
    /* margin-left:auto;
    margin-right:auto; */
    margin:5px;
}

.reset-button {
    font-size: 12px;
    color: black;
    border-radius:3px;
    background-color: lightgray;
    width: 150px;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:15px;   
    border:solid 1px lightgray;
}

.submit-button {
    font-size: 12px;
    color: white;
    border-radius:3px;
    background-color: #0d2c54;
    width: 150px;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:15px;   
    border:1px;

}

.register-box p{
    font-size: 14px;
    color: black;
    padding: 3px;
    margin-top:20px;
    text-align: center;
    margin-left:2px;
    font-weight: bold;
}

input:focus{
    outline: none;
    border: #1f7a8cff 2px solid;
}



.register-text {
    font-size: 14px;
    color: black;
    padding: 10px;
    border-bottom:solid lightgray 1px;
}
.footer {
    background-color: #81adde;
}

.button-section {
    width: 100%;
    display:inline-block;
}

.logo {
    width: 150px;
    height: 45px;
}

.white {
    background-color: #ffffff;
}

.blueLetter {
    color: #183153;
}

/* tablet */

@media (min-width: 480px) {
    .register-box{
        width:50%;
    }
}

/* laptop */
@media (min-width: 768px) {
    
    /* footer{
        position:absolute;
    }

    .fixed-bottom {
        position: absolute;
        bottom: -240px;
        width: 100%;
    } */
    .enter-credentials{
        width:48%;
    }
    
    .form-section {
        display: flex;
        justify-content: space-between;
    }

    .register-box p {
        width:100%;
        text-align:left;
    }

    .button-section {
        display:flex;
        flex-wrap: wrap;
        width: 100%;
    }
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    color: #f0f8ff;
    /* position: absolute; */
    bottom: -240px;
    right: 0px;
    width: 100%;
}

.dataFooter {
    display: flex;
    flex-direction: column;
}

.blue {
    background-color: #183153;
}

.center {
    text-align: center;
}

.whiteLetter {
    color: #f0f1f3;
}