/* * {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 14px;
  margin: auto 0;
}

header {
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

footer {
  display: flex;
  flex-wrap: wrap;
  color: #f0f8ff;
  flex-direction: column;
}

main {
  width: 90%;
  margin: 0 auto;
} */

.fas,
.fab,
.fi {
  font-size: 20px;
  /* margin: auto 0; */
}

.user {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 15px;
  padding: 10px;
}

.professional {
  /* flex-wrap: wrap; */
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: 40px;

}

.professionalPicture {

  border-radius: 50%;
  width: 50%;
  align-self: center;
  margin-bottom: 20px;

}

.payMethod {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 15px;
}

.comment {
  width: 100%;
  display: flex;

  padding: 30px;
  flex-direction: column;
}

/* .dataFooter {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 15px;
} */

/* .logo {
  width: 150px;
  height: 45px;
} */

.logoMP{
  align-self: center;
}

.center {
  text-align: center;
}

.warranty {
  flex-direction: column;
  width: 90%;
  margin: 20px;
  padding: 50px;
  justify-content: center;
  border-radius: 15px;
}

.checkOut {
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  padding: 30px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.buttonStyle {
  background-color: #183153;
  border-radius: 7px;
  text-decoration: none;
  width: 40%;
  font-size: 15px;
  align-self: center;
  padding: 10px;
  margin-bottom: 10px;
}

.total {
  border-top: solid 1px #183153;
  text-align: end;
  padding: 20px;
}

.underlined {
  text-decoration: underline;
}

.formatForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 100%;

}

/* .white {
  background-color: #ffffff;
}

.whiteLetter {
  color: #f0f1f3;
}

.blueCyan {
  background-image: linear-gradient(to right, #183153ff 0%, #1f7a8cff 100%);
}

.grayLetter {
  color: #6e7074;
}

.bgGray {
  background-color: #f0f1f3ff;
}

.blueLetter {
  color: #183153;
}

.blue {
  background-color: #183153;
}

.blueGreen {
  background-color: rgb(31, 122, 140);
} */

.formato {
  display: flex;
  justify-content: center;
}

.padding10 {
  padding-bottom: 10px;
}

/* tablet */

@media (min-width: 480px) {}



/* laptop */
@media (min-width: 768px) {
footer{
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
}

  .dataFooter{
  align-items: baseline;
}
  .details {
    display: flex;
    width: calc(50%-20px);
  }

  .formatForm {
    width: 450px;
    align-self: center;
  }

  .buttonStyle {
    background-color: #183153;
    border-radius: 7px;
    text-decoration: none;
    display: block;
    position: absolute;
    right: 27%;
    top: 293px;
    width: fit-content;
    font-size: 12px;
  }

  .checkOut {
    position: relative;
    max-width: 500px;
  }

}

@media(min-width: 889px) {}