.fas,
.fab,
.fi {
  font-size: 20px;
  margin: auto 0;
}



.user {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 15px;
  padding: 10px;
}

.professional {
  /* flex-wrap: wrap; */
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: 40px;

}

.professionalPicture {

  border-radius: 50%;
  width: 50%;
  align-self: center;
  margin-bottom: 20px;

}

.payMethod {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  
}
#comement{
border-radius: 20px;}
.logoMP {
  align-self: center;
}

.center {
  text-align: center;
}

.warranty {
  flex-direction: column;
  width: 90%;
  margin: 20px;
  padding: 50px;
  justify-content: center;
  border-radius: 15px;
}

.checkOut {
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  padding: 30px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.buttonStyle {
  background-color: #183153;
  border-radius: 7px;
  text-decoration: none;
  width: 40%;
  font-size: 15px;
  align-self: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.total {
  border-top: solid 1px #183153;
  text-align: end;
  padding: 20px;
}

.underlined {
  text-decoration: underline;
}

.formatForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 100%;

}



.formato {
  display: flex;
  justify-content: center;
}

.padding10 {
  padding-bottom: 10px;
}

/* 
tablet */

@media (min-width: 480px) {}



/* laptop */
@media (min-width: 768px) {
.wrapper{
  display: flex;
  flex-wrap: wrap;
}

  /* .dataFooter {
    align-items: baseline;
  } */


  .details {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: calc(50% - 10px);
  margin-top: 20px;
  margin-bottom: 20px;
    
  }

  .formatForm {
    width: 300px;
    align-self: center;
    display: flex;

  }

  .buttonStyle {
    background-color: #183153;
    border-radius: 7px;
    text-decoration: none;
    /* display: block;
    position: absolute;
    left: 15%;
    top: 280px; */
    width: fit-content;
    font-size: 12px;
  }

  .checkOut {

  min-width: 300px;
  border-radius: 0px 0px 20px 20px ;
  margin-top: 0;
  }

  .professional {
    
    min-width: 300px;
    margin-top: 0px;
    border-radius: 20px 20px 0px 0px;
  }


  
  .formato {
      width: calc(50% - 10px);
    min-width: 300px;
    justify-content: end;
  }

}


@media(min-width: 889px) {}