<footer class="blue">

    <div class="dataFooter">
        <h4>NOSOTROS</h4>
        <a href="/quienes-somos">¿Quiénes somos?</a>
        <a href="">Ayuda</a>
        <a href=""> Términos y condiciones</a>

    </div>


    <div class="dataFooter">
        <h4>PRESTADORES</h4>
        <a href="">Ayuda</a>
    </div>

    <div class="dataFooter">
        <h4>EMPLEADORES</h4>
        <a href="">Ayuda</a>
    </div>



    <div class="dataFooter">
        <h4>Contáctanos<h4>

                <a href=""></a><i class="fab fa-twitter"></i>
                <a href=""></a> <i class="fab fa-instagram"></i>

    </div>

    <div class="dataFooter">
        <h4>Descargá la APP</h4>
        <a href=""></a><i class="fab fa-android"></i>
    </div>

</footer>
<p class="center grayLetter copyright">Copyright © 2022 Helpers S.R.L. </p>