<header class="white blueLetter">
    <a href="/"><img class="logo" src="/images/logo4.png" width="15%" alt="Logo-Helpers"></a>
    <div class="login-section">
        <a class="login" href="/user/login">Ingresar</a>
        <a class="register" href="/user/register">Registrarse</a>
    </div>
</header>