<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <!-- head abierto en include -->
    <link rel="stylesheet" href="/css/login.css">

    </head>

    <body>
                <main>
                    class="bgGray">
        <%- include("../partials/header.ejs")%>

            <% if (typeof errors != "undefined") { %>
                <p style="color:red">ERROR</p>
                <ul>
                    <% for (let i = 0; i < errors.length; i++) { %>
                        <li>
                            <%= errors[i].msg%>
                        </li>

                        <% } %>
                </ul>
                 <% } %>
                    <div class="login-box white">
                        <form class="login-form" action="/login">
                            <input type="text" name="usuario" placeholder="Usuario" class="enter-credentials" required>
                            <input type="password" name="contraseña" placeholder="Contraseña" class="enter-credentials"
                                required>
                            <input type="checkbox" class="checkbox-password" name="remember-password">
                            <label for="remember-password" class="remember-password">Recordar mi usuario</label>
                            <button type="submit">Ingresar</button>
                        </form>
                        <a href="" class="login-text">¿Olvidó su contraseña/usuario?</a>
                        <p>¿Aún no eres usuario?</p>
                        <button type="button"><a href="/user/registerUser">Registrate</a></button>
                    </div>
                </main>



                <%- include("../partials/footer.ejs")%>
    </body>

</html>