<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <!-- head abierto en include -->
    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <%- include("../partials/header.ejs")%>
            <main>
                <div class="login-box">
                    <form class="login-form" action="/login">
                        <input type="text" name="usuario" placeholder="Usuario" class="enter-credentials" required>
                        <input type="password" name="contraseña" placeholder="Contraseña" class="enter-credentials"
                            required>
                        <input type="checkbox" class="checkbox-password" name="remember-password">
                        <label for="remember-password" class="remember-password">Recordar mi usuario</label>
                        <button type="submit">Ingresar</button>
                    </form>
                    <a href="" class="login-text">¿Olvidó su contraseña/usuario?</a>
                    <p>¿Aún no eres usuario?</p>
                    <button type="button"><a href="/user/register">Registrate</a></button>
                </div>
            </main>

            <%- include("../partials/footer.ejs")%>
    </body>

</html>