<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/registerUserOrHelper.css">
    </head>


    <body>
        <%- include("../partials/header.ejs")%>
            
                <div >
                     <a type="button"  href="/user/registerUser">Registrarse como Usuario</a>
                     <a type="button" href="/products/registerHelper">Registrarse como Helper</a>
                </div>
            
            <%- include("../partials/footer.ejs")%>
    </body>

</html>