<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/register.css">
    </head>


    <body class="bgGray">
        <%- include("../partials/header.ejs")%>
            <main>
                <div class="register-box white">
                    <form class="register-form" action="/user/storeUser" method="POST">
                        <div class="form-section">
                            <p class="main-header">Registro de Usuario</p>
                            <p class="section-header">Datos Personales</p>
                            <input type="text" name="Nombre" placeholder="Nombre" class="enter-credentials" required>
                            <input type="text" name="Apellido" placeholder="Apellido" class="enter-credentials"
                                required>
                            <input type="text" name="Telefono de Contacto" placeholder="Teléfono de Contacto"
                                class="enter-credentials" required>
                        </div>

                        <div class="form-section">
                            <p class="section-header">Usuario y Contraseña</p>
                            <input type="mail" name="Correo" placeholder="Correo" class="enter-credentials" required>
                            <input type="mail" name="Confirmar Correo" placeholder="Confirmar Correo"
                                class="enter-credentials" required>
                            <input type="password" name="Contraseña" placeholder="Contraseña" class="enter-credentials"
                                required>
                            <input type="password" name="Confirmar Contraseña" placeholder="Confirmar Contraseña"
                                class="enter-credentials" required>
                        </div>
                        <div class="button-section">
                            <button type="reset" class="reset-button">Reestablecer</button>
                            <button type="submit" class="submit-button">Registrarse</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include("../partials/footer.ejs")%>
    </body>

</html>